{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold  text-instagram-style">
        Hello AdminController!
      Hello world!
    </h1>
{% endblock %}
